body{
    font-family: "Verdana";
}

.centro{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #000;
}

.tabuleiro{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    height: auto;
}
    
    .conteudo{
        z-index: 1;
        position: relative;
    }
        
        .menu, .menu li{
            text-align: center;
            border: none;
            background: none;
        }

    .tabuleiro-fundo{
        z-index: 0;
        max-width: 1000px;
        position: absolute;
        filter: blur(5px);
    }
    
.btn-option{
    cursor: pointer;
    font-weight: bold;
    -webkit-text-stroke: 1px #fff;
    text-shadow: 0px 0px 2px #000;
    background: none;
    border: none;
    color: #ffc600;
}